<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="content_inner">
        <div class="content_text">
            <%= page %>
        </div>
        <div class="link-inner">
            <a href="/blog" class="content_link">1</a>
            <a href="/blog/2" class="content_link">2</a>
            <a href="http://127.0.0.1:3000/blog/3" class="content_link">3</a>
            <a href="/blog/4" class="content_link">4</a>
            <a href="/blog/5" class="content_link">5</a>
            <a href="/blog/6" class="content_link">6</a>
            <a href="/blog/7" class="content_link">7</a>
            <a href="/blog/8" class="content_link">8</a>
            <a href="/blog/9" class="content_link">9</a>
            <a href="/blog/10" class="content_link">10</a>
        </div>
    </div>
    
  </body>
</html>