body {
    padding: 50px;
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}
  

a {
    color: #00B7FF;
}
a:active {
    text-decoration: none;
}
.active-link {
    text-decoration: none;
}


.content_inner {
    width: 500px;
    margin: 0 auto;
}
.link-inner {
    margin-top: 20px;
    text-align: center;
}
.content_link {
    margin: 0 5px;
}