body {
    padding: 50px;
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}
  

a {
    color: #00B7FF;
}

.content_inner {
    width: 500px;
    margin: 0 auto;
}
.link-inner {
    margin-top: 20px;
    text-align: center;
}